.clickable {
  cursor: pointer; }

.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.8;
  display: none; }
  .loader-container .inner-circles-loader {
    position: fixed;
    top: 50%;
    left: 50%; }
