header h1:hover {
  color: #9ddcff; }

header .nav-links {
  line-height: 120px; }
  header .nav-links li {
    color: white;
    list-style: none;
    float: left; }
    header .nav-links li:hover {
      color: #9ddcff; }
